@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.8em;
  font-family: "Raleway", sans-serif;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  color: whitesmoke;
  background-size: cover;
  background-image: url("./img/bg.jpg");
  background-position: fixed;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  max-width: 150px;
  border-radius: 50%;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}
header img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
h1, h3 {
  margin: 1em 0;
  text-transform: uppercase;
}

main {
  max-width: 1140px;
}
main section:not(:last-child)  {
  border-bottom: 1px dotted #A7B8BF;
}
.course {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {  
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
  color: #415a54;
  text-transform: capitalize;
  font-weight: bold;
}

.course .description {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%
}

.course .description p {
  padding-left: 1em;
}
.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.school {
  text-transform: capitalize;
  font-weight: bold;
}
.school span {
  color: rgb(17, 143, 27);
  font-style: italic;
  font-weight: normal;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul > li {
  padding-left: 1.5em;
}
ul.list-dashed > li::before {
  content: "🐍";
  padding-right: 0.5em;
}
footer {
 padding: 1em;
}
